@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/functions';

.landing-wrapper {
  display:        flex;
  flex-direction: column;
  margin:         auto;
  max-width:      1728px;
  width:          100%;

  .mid-section {
    background:      url('../../../public/images/web-background.png') no-repeat top center;
    background-size: cover;
    padding-top:     58px;
    position:        relative;
    top:             -1px;
  }

  .section {
    width: 100%;

    &__one {
      align-items:      center;
      background:       url('../../../public/images/section-one-back.png') no-repeat top center;
      background-color: $meta-black;
      background-size:  cover;
      display:          flex;
      flex-direction:   column;
      justify-content:  center;
      padding:          199px 0 299px;

      .image {
        height:        auto;
        margin-bottom: 70px;
        width:         654px;
      }

      .tag-line {
        color:       $meta-white;
        font-family: Gilroy;
        font-size:   rem-calc(20);
        font-weight: 800;
        max-width:   971px;
        padding:     0 29px;
        text-align:  center;
      }
    }

    &__two {
      .section-image {
        height: 613px;
      }

      #section-two-back {
        margin-top: 52px;

        .bot-image {
          margin-left: 116px;
          width:       29%;
        }
      }

      #section-three-back {
        padding: 0 370px 0 128px;

        .bot-image {
          position: absolute;
          right:    20%;
          top:      -107px;
          width:    13.2%;
        }
      }

      #section-four-back {
        padding: 317px 0 0 128px;

        .bot-image {
          width: 44%;
        }

        .text-content {
          margin-top: 100px;
        }
      }

      #section-five-back {
        justify-content: space-between;
        padding-left:    128px;

        .bot-image {
          margin: 56px 60px 0 0;
          width:  50%;
        }
      }

      .bot-card {
        color:       $meta-white;
        display:     flex;
        font-family: Montserrat;
        margin:      60px 0 130px;
        position:    relative;

        .bot-image {
          height: fit-content;
        }

        .text-content {
          width: auto;
        }

        &:nth-child(2n) {
          flex-direction:  row-reverse;
          justify-content: flex-end;
        }

        &:nth-child(1), &:nth-child(3) {
          .text-content {
            margin-left:  80px;
            margin-right: 20px;
          }
        }

        .text-content {
          .head {
            font-size:     rem-calc(64);
            font-weight:   800;
            margin-bottom: 61px;
            white-space:   break-spaces;
          }

          .description {
            font-family: Gilroy;
            font-size:   rem-calc(20);
            max-width:   753px;
            white-space: break-spaces;
          }
        }

        &#section-two-back {
          .text-content {
            .description {
              max-width: 728px;
            }
          }
        }

        &#section-three-back {
          .text-content {
            .description {
              max-width: 806px;
            }
          }
        }

        &#section-five-back {
          .text-content {
            .description {
              max-width: 559px;
            }
          }
        }
      }
    }

    &__three {
      align-items:     center;
      color:           $meta-white;
      display:         flex;
      flex-direction:  column;
      justify-content: center;
      text-align:      center;

      .head {
        font-family: Montserrat;
        font-size:   rem-calc(64);
        font-weight: 800;
        margin:      50px 0 20px;
      }

      .description {
        font-family:   Gilroy;
        font-size:     rem-calc(20);
        margin-bottom: 20px;
        max-width:     460px;
      }

      .group-menu {
        font-family: Gilroy;
        list-style:  none;
        margin:      50px 0 150px;

        &__item {
          display:        inline-block;
          font-size:      rem-calc(18);
          font-weight:    bold;
          margin:         0 10px;
          padding:        3px 12px;
          text-transform: uppercase;

          &:hover {
            color:  $meta-green;
            cursor: pointer;
          }

          &--active {
            border:        1px solid $meta-green;
            border-radius: 3px;
            color:         $meta-green;
          }
        }
      }

      .item-list {
        display:         flex;
        justify-content: space-evenly;
        max-width:       1303px;
        width:           100%;
      }

      .character-card {
        align-items:     center;
        background:      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        border:          11px solid $meta-green;
        border-radius:   8px;
        display:         flex;
        height:          445px;
        justify-content: center;
        position:        relative;
        width:           395px;

        &:nth-child(2) {
          margin: 0 59px;
        }

        .image-cont {
          align-items:     center;
          display:         flex;
          justify-content: center;
          position:        relative;

          .character-image {
            height:   266px;
            position: absolute;
            width:    auto;
          }

          .circle {
            background:    $meta-green;
            border-radius: 100%;
            height:        229px;
            width:         229px;
          }
        }

        .name {
          bottom:         22px;
          font-family:    Montserrat;
          font-size:      rem-calc(25);
          font-weight:    bold;
          position:       absolute;
          text-transform: uppercase;
        }
      }
    }

    &__four {
      background:      url('../../../public/images/section-four-back.png') no-repeat top center;
      background-size: cover;
      padding:         860px 0 40px;
      text-align:      center;

      .coming-soon-text {
        color:          $meta-white;
        font-family:    Montserrat;
        font-size:      rem-calc(34);
        font-weight:    300;
        letter-spacing: 0.58em;
        margin-bottom:  26px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 1304px) {
  .landing-wrapper {
    .section {
      &__three {
        .character-card {
          width: 32%;

          &:nth-child(2) {
            margin: 0;
          }

          .image-cont {
            .character-image {
              height: auto;
              width:  120%;

            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .landing-wrapper {
    .mid-section {
      padding: 12px 0 0;
    }

    .section {
      &__one {
        padding: 100px 0;

        .image {
          width: 40%;
        }
      }

      &__two {
        .bot-card {
          justify-content: space-around !important;
          margin:          90px 0 !important;
          padding:         0 40px !important;

          &#section-two-back {
            .text-content {
              .description {
                max-width: 583px;
              }
            }
          }

          &#section-three-back {
            .text-content {
              .description {
                max-width: 643px;
              }
            }
          }

          &#section-four-back {
            .text-content {
              .description {
                max-width: 602px;
              }
            }
          }

          &#section-five-back {
            .text-content {
              .description {
                max-width: 443px;
              }
            }
          }

          .bot-image {
            margin:   0 !important;
            position: initial !important;
          }

          .text-content {
            margin: 0 !important;

            .head {
              font-size: rem-calc(32) !important;
            }

            .description {
              font-size: rem-calc(16) !important;
            }
          }
        }

        #section-two-back {
          .bot-image {
            width: 30% !important;
          }
        }

        #section-three-back {

          .bot-image {
            position: relative !important;
            top:      -70px !important;
          }
        }
      }

      &__three {
        .head {
          font-size: rem-calc(32);
        }

        .description {
          font-size: rem-calc(16);
        }

        .group-menu {
          margin: 50px 0;

          .group-menu__item {
            font-size: rem-calc(16);
          }
        }

        .character-card {
          height: 355px;
          width:  29%;

          .image-cont {

            .circle {
              height: 189px;
              width:  189px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1328px) {
  .landing-wrapper {
    .section {
      &__two {
        #section-three-back {
          .bot-image {
            top: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1577px) {
  .landing-wrapper {
    .section {
      &__two {
        #section-three-back {

          .bot-image {
            right: 80px;
          }
        }

        #section-four-back {
          padding: 77px 0 0 128px;
        }
      }
    }
  }
}

@media only screen and (max-width: 944px) {
  .landing-wrapper {
    .section {
      &__one {
        padding: 100px 29px;

        .tag-line {
          font-size: rem-calc(16);
          padding:   0;
        }

        .image {
          width: 50%;
        }
      }

      &__two {
        .bot-card {
          align-items:    center;
          flex-direction: column !important;
          margin:         40px 0 90px !important;
          padding:        0 29px !important;

          &:first-of-type {
            margin-top: 0 !important;
          }

          .bot-image {
            height:        fit-content;
            margin-bottom: 30px !important;
            width:         100% !important;
          }

          &#section-two-back {
            .bot-image {
              width: 35% !important;
            }
          }

          &#section-three-back {
            .bot-image {
              position: initial !important;
              width:    17% !important;
            }
          }

          &#section-four-back {
            .bot-image {
              width: 44% !important;
            }
          }

          &#section-five-back {
            .bot-image {
              width: 58% !important;
            }
          }

          .text-content {
            margin:        0 auto;
            margin-bottom: 15px !important;
            text-align:    center;

            .head {
              margin-bottom: 21px;
              white-space:   initial;
            }

            .description {
              width: 100% !important;
            }
          }
        }
      }

      &__three {

        .group-menu {
          margin: 50px 0 0;
        }

        .item-list {
          align-items:    center;
          flex-direction: column;
          padding:        0 29px;
        }

        .character-card {
          margin:    70px 0;
          max-width: 395px;
          width:     100%;

          .image-cont {
            .character-image {

            }
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &__four {
        padding: 590px 0 40px;

        .coming-soon-text {
          font-size: rem-calc(18);
        }

        .twenty-twenty-two {
          width: 160px;
        }
      }
    }
  }
}
