@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/functions';

.landing-wrapper {
  align-items:    center;
  background:     $meta-black;
  display:        flex;
  flex-direction: column;
  min-height:     100vh;
  overflow:       hidden;
  width:          100vw;

  .upper-section {
    background:      url('../../assets/images/intro-bckgd.svg') no-repeat 0 98px;
    background-size: 110%;
    padding:         95px 10px 60px;
    text-align:      center;
    width:           100%;

    .tag-line, .header {
      font-family: $furore;
      font-weight: 400;
    }

    .tag-line {
      color:         $meta-yellow;
      font-size:     rem-calc(24);
      margin-bottom: 17px;
    }

    .header {
      color:     $meta-white;
      font-size: rem-calc(136);
    }
  }

  .lower-section {
    align-items:     center;
    background:      url('../../assets/images/landing-image.svg') no-repeat center left;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    max-width:       1440px;
    padding:         42px 0;
    width:           100%;

    .access-form {
      display:        flex;
      flex-direction: column;
      font-family:    $euclid;
      margin:         0 auto;
      max-width:      560px;
      width:          560px;

      .label {
        color:       $meta-text-white;
        font-size:   rem-calc(24);
        font-weight: 400;
      }

      .email-input {
        @include inputBorder;
        margin: 16px 0 32px;
      }

      .captcha {
        align-items:     center;
        display:         flex;
        justify-content: center;
        margin-bottom:   32px;
        width:           100%;
      }

      .submit-button, .coming-soon {
        font-family:    $euclid;
        text-transform: capitalize;
      }

      .submit-button {
        background:    $meta-yellow;
        border:        0;
        border-radius: 4px;
        color:         $meta-black;
        font-family:   $euclid;
        font-size:     rem-calc(24);
        font-weight:   600;
        height:        60px;
      }

      .coming-soon {
        color:       $meta-text-white;
        font-size:   rem-calc(48);
        font-weight: 800;
        margin:      40px 0 45px;
        text-align:  center;
      }
    }

    .social-btns {
      align-self:      flex-end;
      display:         flex;
      justify-content: space-between;
      margin-right:    31px;
      width:           650px;

      .social-btn {
        img {
          height: 30px;
          width:  30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1015px) {
  .landing-wrapper {
    .upper-section {
      .header {
        font-size: rem-calc(110);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .landing-wrapper {
    .upper-section {
      .tag-line {
        font-size: rem-calc(18);
      }

      .header {
        font-size: rem-calc(50);
      }
    }

    .lower-section {
      background-position: center center;

      .access-form {
        padding: 0 10px;
        width:   100%;

        .email-input {
          background: $meta-black;
        }

        .submit-button {
          font-size: rem-calc(16);
        }

        .coming-soon {
          font-size: rem-calc(20);
        }
      }

      .social-btns {
        align-self:      center;
        flex-wrap:       wrap;
        justify-content: center;
        margin:          0;
        width:           100%;

        .social-btn {
          padding: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .landing-wrapper {
    .upper-section {
      .tag-line {
        font-size: rem-calc(16);
      }

      .header {
        font-size: rem-calc(25);
      }
    }

    .lower-section {
      .access-form {
        .label {
          font-size: rem-calc(20);
        }
      }
    }
  }
}
