@import './src/assets/styles/variables';
@import './src/assets/styles/mixins';

.header-wrapper {
  display:         flex;
  justify-content: center;
  left:            0;
  position:        fixed;
  top:             0;
  width:           100vw;
  z-index:         9999;

  &__sub-wrapper {
    align-items: center;
    display:     flex;
    height:      75px;
    max-width:   1728px;
    padding:     0 29px;
    transition:  all 1s ease-in;
    width:       100%;
  }

  .header-container {
    align-items:     center;
    display:         flex;
    justify-content: space-between;
    width:           100%;
  }

  .navigation {
    display: flex;

    &.mobile {
      align-items:      center;
      background-color: $meta-black;
      flex-direction:   column;
      height:           100vh;
      justify-content:  flex-start;
      left:             0;
      position:         fixed;
      top:              75px;
      width:            100vw;

      .menu-item {
        margin: 30px 0;
      }
    }

    .menu-item {
      color:           $meta-white;
      font-family:     Gilroy;
      font-size:       rem-calc(14);
      margin:          0 14px;
      text-decoration: none;
      text-transform:  uppercase;

      &:hover {
        color:  $meta-green;
        cursor: pointer;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .menu-icon {
    display: none;
    height:  26px;
    width:   26px;
  }
}

@media only screen and (max-width: 944px) {
  .header-wrapper {
    .header-container {
      position: relative;

      .logo {
        width: 120px;
      }
    }

    .navigation {
      &.desktop {
        display: none;
      }
    }

    .menu-icon {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
