@import 'src/assets/styles/variables';
@import 'src/assets/styles/functions';

.section {
  &__one {
    align-items:      center;
    background:       url('../../../../public/images/section-one-back.png') no-repeat top center;
    background-color: $meta-black;
    background-size:  cover;
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    min-height:       100vh;
    overflow:         hidden;
    padding:          299px 29px;
    position:         relative;

    .heading {
      color:          $meta-text-white;
      font-family:    Montserrat;
      left:           100%;
      letter-spacing: 2px;
      opacity:        0;
      position:       relative;
      text-align:     center;
      text-transform: uppercase;
      top:            -120px;
    }

    .scrolling-image {
      background-size: 30% !important;
      height:          500%;
      left:            0;
      opacity:         0.3;
      position:        absolute;
      top:             0;
      width:           100%;

      &__one {
        animation:  slide 75s linear infinite;
        background: url('../../../assets/images/stars-01.png') repeat;
      }

      &__two {
        animation:  slide 60s linear infinite;
        background: url('../../../assets/images/stars-02.png') repeat;
      }
    }

    .gif-wrapper {
      align-items:     center;
      background:      url('../../../assets/images/gif-ring.png') no-repeat center center;
      background-size: contain;
      display:         flex;
      justify-content: center;
      margin-bottom:   70px;
      opacity:         0;
      position:        relative;
      width:           786px;
      z-index:         1;

      .characters {
        position: absolute;
        top:      -85px;
        width:    303px;
      }

      .image {
        height: auto;
        width:  100%;
      }
    }

    .tag-line {
      color:       $meta-white;
      font-family: Gilroy;
      font-size:   rem-calc(20);
      font-weight: 800;
      max-width:   971px;
      opacity:     0;
      padding:     0 29px;
      position:    relative;
      text-align:  center;
      top:         1000px;
      z-index:     1;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .section {
    &__one {
      padding-bottom: 100px;

      .gif-wrapper {
        width: 576px;

        .characters {
          width: 243px;
        }
      }
    }
  }
}

@media only screen and (max-width: 944px) {
  .section {
    &__one {
      align-items:     center;
      display:         flex;
      justify-content: center;

      .heading {
        font-size: rem-calc(24);
      }

      .tag-line {
        font-size: rem-calc(16);
        padding:   0;
      }

      .gif-wrapper {
        width: 300px;

        .characters {
          top:   -40px;
          width: 123px;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0;
  }
}
