$meta-black:             #0A060D;
$meta-yellow:            #FDDB92;
$meta-white:             #FFFFFF;
$meta-text-white:        #FFF5F5;
$meta-header-background: rgba(0, 0, 0, 0.6);
$meta-green:             #61DB94;

// Fonts
$euclid:                 'Euclid Circular A';
$furore:                 'Furore';
$gilroy:                 'Gilroy';
