$meta-black:      #151515;
$meta-yellow:     #FDDB92;
$meta-white:      #FFFFFF;
$meta-text-white: #FFF5F5;

// Fonts
$euclid:          'Euclid Circular A';
$furore:          'Furore';
$gilroy:          'Gilroy';
